@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Times New Roman", Times, serif;
  }

  body {
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    font-family: inherit;
  }
}
